// helpers;
@import './helpers/reset';
@import './variables/global';

// themes;
@import './themes/light';
@import './themes/dark';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--font-m);
}
