@import './variables/global';
@import './reset';
@import './themes/light';
@import './themes/dark';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--font-m);
  min-height: 100vh;
}
