@use './variables/global';
@use './themes/light';
@use './themes/dark';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--font-l);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
