:root {
  // fonts;
  --font-family: "Consolas", "Times New Roman", serif;

  --font-size-m: 16px;
  --font-size-l: 20px;

  --font-line-m: 20px;
  --font-line-l: 24px;

  --font-weight-m: 400;
  --font-weight-l: 700;

  --font-main: var(--font-weight-m) var(--font-size-m) / var(--font-line-m)
    var(--font-family);

  // sizes;
  --header-height: 50px;
}
