.app-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: var(--font-size-l);
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.icon {
  path {
    stroke: var(--inverted-primary-color);
  }
}

.text {
  width: auto;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.collapsed {
  .item {
    justify-content: center;
  }

  .text {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
