.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.primary {
  color: var(--primary-color);
}

.primary-inverted {
  color: var(--primary-color-inverted);
}
