.button {
  cursor: pointer;
  color: inherit;
  border: none;
}

.clear {
  padding: 0;
  background-color: transparent;
}

.primary {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.inverted-primary {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}
