.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  padding: 10px;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  transition: width 0.3s ease-in;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.btn-toggle {
  position: absolute;
  bottom: 20px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-l);
  border: none;
}

.switchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: auto;
}
