.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 300px;
  height: calc(100vh - var(--header-height));
  padding: 20px 10px;
  background-color: var(--bg-color-inverted);
  transition: width 0.3s ease-in;
}

.navigation {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.navigation-item {
  display: flex;
  align-items: center;
  min-height: 36px;
  column-gap: 10px;
}

.navigation-link {
  transition: width 0.3s ease-in;
  transition-delay: 0.3s;
}

.navigation-icon {
  &-home {
    path {
      fill: var(--bg-color);
    }
  }

  &-about {
    path {
      stroke: var(--bg-color);
    }
  }
}

.collapsed {
  width: 80px;

  .navigation-link {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.switchers {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  margin-top: auto;
}

.sidebar-toggle {
  position: absolute;
  right: -32px;
  bottom: 0;
}
