@import "./variables/global.scss";
@import "./reset.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--font-main);
  min-height: 100vh;
}
