.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  transition: 0.3s ease width;
  background-color: var(--inverted-bg-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.theme-switcher {
  margin: auto;
  margin-bottom: 50px;
}
