.dark {
  // background;
  --bg-color: #161a1d;
  --inverted-bg-color: #f3f0ff;

  // color;
  --primary-color: #b8acf6;
  --secondary-color: #42b2d7;

  // inverted color;
  --inverted-primary-color: #1c2b41;
  --inverted-secondary-color: #2900ff;
}
