.app {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  font-size: 24px;
  line-height: 36px;
}

.page-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
}
