.app {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.navigation {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.toggle {
  width: 180px;
  margin-bottom: 20px;
}

.page {
  display: flex;
  font-size: 24px;
  line-height: 36px;
}
