.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: var(--header-height);
  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  column-gap: 10px;
}
